<div class="postShorten-meta post-meta">
  <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ partial "internal/date.html" . }}
  </time>
  {{ partial "post/category.html" . }}
</div>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content=“@gt1028kn" />
<meta name="twitter:title" content="kosukeblog" />
<meta name="twitter:description" content="twitter-card" />
<meta name="twitter:image" content="https://goo.gl/photos/FXKhX1vid87R9pek9" />
