{{ range .Params.tags }}
  <a class="tag tag--primary tag--small" href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">{{ . }}</a>
{{ end }}
<div align="left">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- SimpleAd -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-9828180917254396"
       data-ad-slot="8642375468">
  </ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
